.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 130px;
}

.features__title {
  color: var(--neutral-gray-700);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
}

.features__description {
  font-size: 18px;
  color: var(--neutral-gray-500);
  font-weight: 400;
  width: 52%;
  line-height: 1.6;
  margin-bottom: 80px;
}

.features__container {
  display: flex;
  gap: 70px;
}

.features__img-container {
  width: 70%;
  position: relative;
  right: 30px;
}

.features__img {
  width: 100%;
}

.features__list {
  list-style: none;
  text-align: left;
  padding-top: 50px;
}

.features__list__item {
  margin-bottom: 65px;
  width: 60%;
}

.features__list__item:last-child {
  margin-bottom: 0;
}

.features__list__item-title {
  color: var(--neutral-gray-700);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 8px;
}

.features__list__item-description {
  font-size: 16px;
  font-weight: 400;
  color: var(--neutral-gray-500);
  line-height: 1.8;
}
